.block{
	position: fixed;
	background-color: black;
	margin-top: -10px;
	margin-left: -10px;
	height: 70px;
	width: 1400px;
}
.brrm{
	border-right-color: white; 
	border-left-color: white;
	border-top-color: white;
	border-bottom-color: blue;
	border-bottom-width: 2px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	width: 220px; 
}
.brrm1{
	border-right-color: white; 
	border-left-color: white;
	border-top-color: white;
	border-bottom-color: blue;
	border-bottom-width: 2px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	width: 600px; 
}
.btn_s{
	border: none;
	color: white;
        cursor: pointer;
	    background-color: black;
		width: 100px;
		height: 20px;}
.btn_s:hover {background-color: grey;
        width: 100px;
		height: 20px;}